@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');


body {
  margin: 0;
  font-family: 'Anek Malayalam', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media print{
  body{
    display:none
  }
}