.flex-intro{
    display: grid;
    place-items: center;
    .flex-hero{
        flex: 1;
        padding: 20px;
        font-size: min(1.8em, 5.5vw);
        h1{
            max-width: 10em;
            line-height: 1.75em;
            text-align: center;
            margin-top: 1.34em;
            text-shadow: 4px -2px 28px rgba(15,98,254,0.33);
            .purple{
                color:#0F62FE;
            }
        }
        .subhead{
            color: black;
            opacity: 45%;
            line-height: 1.45;
            margin-top: 1.5em;
            text-align: center;
        }
    }
    .flex-img{
        padding: 15px;
        svg{
            width: 100%;
            margin-top: 2em;
        }
    }
}
